<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>
<div style="max-width: 550px; margin: 0 auto">
  <h1><%=title%></h1>
  <div style="margin-bottom: 20px">
    Введіть для даного поста нову назву та/чи прізвище автора:
  </div>

  <form method="post" action="/edit-post/<%=post.id%>?_method=PUT">
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Назва </label>
      <input
        required
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Прізвище</label>
      <input
        required
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        name="author"
      />
    </div>

    <button type="submit" class="btn btn-primary">Створити</button>
  </form>
</div>
<%- include('./partials/footer.ejs') %>
